h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    color: #fff !important;
}

p, ol, ul, dl, li {
    color: #fff !important;
}

table, th, td {
    color: #fff;
}

body {
    background-color: #222222 !important;
}

input {
    color: #fff !important;
    background-color: #404040 !important;
    border: 1px solid #191919 !important;
}

div[class^="col-"] {
    color: #fff;
    background-color: #191919;
}

.news a, a.btn-link {
    color: #fff !important;
}

.news a:hover, a.btn-link:hover {
    color: #e05206 !important;
    text-decoration: underline !important;
}

a:focus {
    color: #e05206 !important;
    background-color: transparent !important;
    box-shadow: none !important;
}

a:hover {
    color: #e05206 !important;
}

a[data-hidden="1"] {
    color: #999999 !important;
}

a[data-hidden="1"]:hover {
    color: #e05206 !important;
}

a[data-hidden="1"]:active {
    color: #fff !important;
}

a.dimmed, a.dimmed:link {
    color: #999999 !important;
}

.dropdown-toggle {
    color: #fff !important;
}

.aalink:focus, .activityinstance>a:focus {
    color: #e05206 !important;
    background-color: transparent !important;
    box-shadow: none !important;
}

a.arrow_link {
    color: #fff !important;
}

.navbar.fixed-top .dropdown .dropdown-menu, 
.dropdown .dropdown-item {
    color: #fff !important;
    background-color: #222222 !important;
}

div#page-wrapper .bg-white, 
div#page-wrapper .bg-gray, 
footer#page-footer {
    background-color: #222222 !important;
    border-color: #151515 !important;
}

div#page-wrapper .btn-light {
    color: #fff !important;
    border-color: #191919;
}

.navbar-light .navbar-brand, .nav-link, .usermenu .login {
    color: #fff !important;
}

.nav-link:hover {
    color: #e05206 !important;
}

.card {
    color: #fff !important;
    background-color: #191919 !important;
}

#region-main, .d-sm-flex, .row {
    background-color: #191919 !important;
}

div#site-news-forum .border {
    border: 1px solid #191919 !important;
}

.text-right, .left_menu_header {
    color: #fff !important;
}

.btn-primary:focus, .btn-primary.focus {
    outline: .2rem solid #101010 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btn-secondary {
    color: #fff !important;
    background-color: #303030 !important;
    border-color: #191919 !important;
}

.btn-secondary:focus {
    outline: .2rem solid #101010 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btn-light:focus, .btn-light.focus {
    outline: .2rem solid #101010 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.alert-danger {
    color: #fff !important;
    background-color: #303030 !important;
    border-color: #303030 !important;
}

div#goto-top-link .btn-light {
    color: #191919 !important;
    background-color: #404040 !important;
}

::-webkit-scrollbar {
    background: #121212;
}

::-webkit-scrollbar-button {
    background: #303030;
}

::-webkit-scrollbar-thumb {
    background: #303030;
}

::-webkit-scrollbar-thumb:hover {
    background: #404040;
}

.popover-region-container {
    background-color: #222222 !important;
    border: 1px solid #151515 !important;
}

.popover-region-footer-container {
    background-color: #222222 !important;
    border-top: 1px solid #fff !important;
}

.popover-region-toggle::after {
    border-bottom: 9px solid transparent !important;
}

#nav-drawer {
    background-color: #191919 !important;
}

.list-group-item, .list-group-item-action {
    color: #fff !important;
    background-color: #222222 !important;
}

.list-group-item.active, 
.list-group-item-action:active {
    color: #fff !important;
    background-color: #e05206 !important;
    border-color: #e05206 !important;
}

#nav-drawer .list-group-item.active:hover {
    color: #fff !important;
}

.btn-group>.btn {
    color: #fff !important;
}

.path-course-view .completionprogress {
    color: #fff;
}

.popover, .popover-header, .popover-body {
    color: #fff !important;
    background-color: #303030 !important;
}

button#searchform_button {
    color: #fff;
    background-color: #303030;
    border-color: #191919;
}

.nav-tabs {
    color: #fff;
}

.nav-tabs .nav-link.active {
    background-color: #191919 !important;
    border-top-color: #fff !important;
    border-left-color: #fff !important;
    border-right-color: #fff !important;
    border-bottom-color: #191919!important;
}

.no-overflow {
    color: #fff;
}

.region_main_settings_menu_proxy {
    background-color: #191919 !important;
}

.dropdown-menu.show {
    background-color: #222222;
}

.dropdown-item {
    background-color: #303030 !important;
}

.dropdown-item:hover {
    background-color: #e05206 !important;
}

.dropdown-item a {
    color: #fff !important;
}

.mr-2 {
    color: #fff;
}

.py-3 {
    color: #fff;
}

div[id^="core_user-participantsfilter-"] {
    background-color: #191919 !important;
    border-color: #151515 !important;
}

.custom-select {
    color: #fff !important;
    background-color: #222222 !important;
    border-color: #151515 !important;
}

.page-link {
    color: #fff !important;
    background-color: #222222 !important;
    border: 1px solid #151515 !important;
}

.page-item.active .page-link {
    color: #fff  !important;
    background-color: #e05206 !important;
    border-color: #151515 !important;
}

.path-mod-assign td.submissionstatussubmitted,
.path-mod-assign td.submissiongraded,
.path-mod-assign td.earlysubmission {
    color: #fff !important;
    background-color: #4b5f4b !important;
}

.path-mod-assign td.submissionnotgraded {
    color: #fff !important;
    background-color: #404040 !important;
}

.path-mod-assign td.latesubmission {
    color: #fff !important;
    background-color: #735050 !important;
}

.path-mod-assign td.submissionstatusdraft {
    color: #fff !important;
}

.generaltable th, .generaltable td {
    border-top: 1px solid #fff !important;
    background-color: #191919 !important;
}

textarea {
    color: #fff !important;
    background-color: #303030 !important;
}

.mb-3, .my-3 {
    color: #fff !important;
}

time {
    color: #fff !important;
}

td.weekend {
    color: #999999 !important;
}

.calendar_event_course {
    background-color: #454545 !important;
}

.btn-outline-secondary {
    color: #fff !important;
    background-color: #303030 !important;
    border-color: #151515 !important;
}

div#intro {
    color: #fff !important;
}

.form-autocomplete-suggestions {
    background-color: #303030 !important;
    border: 1px solid #151515 !important;
    padding: .5rem !important;
}

.forumnodiscuss {
    color: #fff !important;
}

.content {
    color: #fff !important;
    background-color: #191919 !important;
}

.modified {
    color: #fff !important;
}

li.current {
    background-color: #191919 !important;
}

tr.bestrow td, tr.lastrow td {
    background-color: #191919 !important;
    border-color: #fff !important;
}

.path-mod-quiz #mod_quiz_navblock .qnbutton {
    color: #fff;
    background: #303030 !important;
    border: #151515 !important;
}

.info {
    color: #fff !important;
    background-color: #191919 !important;
}

.formulation {
    color: #fff !important;
    background-color: #191919 !important;
    border-color: #151515 !important;
}

.outcome {
    color: #fff !important;
    background-color: #404040 !important;
    border-color: #151515 !important;
}

.que.ddwtos .group1 {
    background-color: #303030 !important;
}

.que.multianswer .feedbackspan {
    background-color: #404040;
}

.message-app .icon {
    color: #fff !important;
}

.message-app {
    color: #fff;
    background-color: #222222 !important;
    border-color: #151515 !important;
}

.message-app .message.received {
    color: #fff;
    background-color: #303030 !important;
    border-color: #151515 !important;
}

.message-app .footer-container textarea {
    color: #fff !important;
    background-color: #303030 !important;
}

.comment-list li {
    background-color: #303030;
}

.p-2 {
    color: #fff;
}

.form-control {
    color: #fff !important;
    background-color: #303030 !important;
}

.form-control:focus {
    color: #fff;
    background-color: #303030;
}

.urlworkaround {
    color: #fff;
}

.preferences-container .preference-table tr th, 
.preferences-container .preference-table tr td {
    background-color: #191919 !important;
}

pre {
    color: #fff !important;
}

.px-0 {
    color: #fff !important;
}

.moodle-dialogue-base .moodle-dialogue-wrap {
    background-color: #222222 !important;
    border: 1px solid #151515 !important;
}

.fp-select .fp-info {
    color: #fff;
}

.fp-select .fp-thumbnail {
    background: #222222 !important;
    border: 1px solid #222222 !important;
}

.fp-select .fp-thumbnail img {
    border: 1px solid #222222 !important;
}

.fp-iconview .fp-filename-field .fp-filename {
    background: #191919 !important;
}

.alert-info {
    background-color: #303030 !important;
    border-color: #151515 !important;
}

.modal-content {
    color: #fff !important;
    background-color: #222222 !important;
}

.close {
    color: #999999 !important;
}

.comment-list li {
    background-color: #303030 !important;
}