h2, .h2, h5, .h5, h6, .h6 {
    color: white;
}

p, ol, ul, dl, li {
    color: white;
}

.navbar.fixed-top .dropdown .dropdown-menu, .dropdown .dropdown-item {
    color: white;
    background-color: #191919;
}

div#page-wrapper .bg-white, div#page-wrapper .bg-gray, #nav-drawer, footer#page-footer {
    background-color: #222222 !important;
}

div#page-wrapper .btn-light {
    border-color: #191919;
}

div#page-wrapper a:not([class]):focus {
    color: #e05206;
    background-color: transparent;
    box-shadow: none;
}

.navbar-light .navbar-brand, .nav-link, .usermenu .login {
    color: white !important;
}

div#page-wrapper .card, .card-body {
    color: white;
    background-color: #191919;
}

div#page-content #region-main, .d-sm-flex, .row {
    background-color: #191919;
}

div#site-news-forum .border {
    border: 1px solid #191919 !important;
}

div#site-news-forum .news p a, a.btn-link, .text-right, .left_menu_header {
    color: white !important;
}

input#username, input#password {
    color: white;
    background-color: #222222;
    border: 1px solid #191919;
}

form#login .btn-primary:focus, form#login .btn-primary.focus {
    outline: .2rem solid #190909;
    -webkit-box-shadow: none;
    box-shadow: none;
}

form#guestlogin .btn-secondary {
    color: white;
    background-color: #303030;
    border-color: #303030;
}

form#guestlogin .btn-secondary:focus, form#guestlogin .btn-secondary.focus {
    outline: .2rem solid #190909;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.alert-danger {
    color: white !important;
    background-color: #303030 !important;
    border-color: #303030 !important;
}

div[class^="col-"] {
    background-color: #191919;
}

::-webkit-scrollbar {
    background: #121212;
}

::-webkit-scrollbar-button {
    background: #303030;
}

::-webkit-scrollbar-thumb {
    background: #303030;
}
